$main-container-height: 87vh;
$navbar-height: 13vh;

/* Navbar style */
.navbar {
  height: $navbar-height;
  text-transform: uppercase;

  .name {
    text-align: left;
    margin-left: 1.5rem;
    min-width: 300px;

    a {
      color: black;
      font-size: 25px;
      margin: 0 0 0 0.5rem;
      text-decoration: none;
    }

    .box {
      height: 15px;
      width: 15px;
      background-color: blue;
      display: inline-block;
    }
  }

  .nav-list {
    a {
      color: black;
      margin: 0 1.5rem;
    }

    a:hover {
      color: #519df9;
      text-decoration: none;
    }
  }

  @media screen and (max-width: 740px) {
    .nav-list {
      display: none;
    }
  }
}

/* Homepage Style */

.main-box {
  height: $main-container-height;
  position: relative;

  .left-main-box {
    height: $main-container-height;
    width: 45%;
    min-width: 400px;
    display: inline-block;
    background-color: #ede7dd;
  }

  .right-main-box {
    display: inline-block;
    height: $main-container-height;
    width: 55%;
    background-color: white;
  }
}

/* Homepage center box style */

.main-center-box {
  position: absolute;
  width: 800px;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  .left-center-box {
    background-color: #faf7f4;
    display: inline-block;
    width: 50%;
    height: 550px;
  }
  .right-center-box {
    background-color: white;
    display: inline-block;
    width: 50%;
    height: 550px;
  }
}
