$main-container-height: 80vh;
$navbar-height: 13vh;
$footer-height: 7vh;

@mixin bullet {
  height: 15px;
  width: 15px;
  background-color: blue;
  display: inline-block;
}

@mixin resume-box {
  background-color: white;
  height: 350px;
  width: 700px;
  margin: auto;
  overflow: hidden;
  -webkit-box-shadow: 0 0 15px 3px #b0abaa;
  -moz-box-shadow: 0 0 15px 3px #b0abaa;
  box-shadow: 0 0 15px 3px #b0abaa;
}

@mixin project-box {
  @include resume-box;
  height: 400px;
}

/* Navbar style */
.navbar {
  height: $navbar-height;
  text-transform: uppercase;

  .name {
    text-align: left;
    margin-left: 1.5rem;
    min-width: 300px;

    a {
      color: black;
      font-size: 25px;
      margin: 0 0 0 0.5rem;
      text-decoration: none;
    }

    .name-bullet {
      @include bullet;
    }
  }

  .nav-list {
    a {
      color: black;
      margin: 0 1.5rem;
    }

    a:hover {
      color: #519df9;
      text-decoration: none;
    }
  }

  @media screen and (max-width: 740px) {
    .nav-list {
      display: none;
    }
  }
}

/* Homepage Style */

.main-box {
  height: $main-container-height;
  position: relative;
  overflow: hidden;

  .left-main-box {
    height: $main-container-height;
    width: 45%;
    min-width: 400px;
    display: inline-block;
    background-color: #ede7dd;
  }

  .right-main-box {
    display: inline-block;
    height: $main-container-height;
    width: 55%;
    background-color: white;
  }
}

// Homepage center box style

.main-center-box {
  position: absolute;
  height: 550px;
  width: 800px;
  top: calc(70% - 800px / 2);
  left: calc(50% - 800px / 2);

  display: flex;

  .left-center-box {
    background-color: #faf7f4;
    position: relative;
    width: 50%;
    height: 550px;
    padding-top: 50px;
    text-align: center;

    img {
      border-radius: 50%;
      height: 200px;
      width: 200px;
    }

    h2 {
      margin-top: 50px;
      font-weight: bold;
    }

    .underline {
      height: 2px;
      width: 170px;
      margin: auto;
      margin-top: 30px;
      background-color: blue;
    }

    p {
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 300;
    }

    .job-title {
      letter-spacing: 3px;
      font-weight: 300;
    }

    .icons {
      width: 400px;
      position: absolute;
      bottom: 0;
      height: 50px;
      background-color: white;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      li {
        display: inline-block;
        margin: 10px;
      }
      i {
        color: black;
        font-size: 25px;
      }
    }
  }
  .right-center-box {
    background-color: white;
    padding: 30px 40px 0 40px;
    text-align: left;
    width: 50%;
    height: 550px;

    #header-1 {
      font-weight: bold;
      font-size: 100px;
    }

    #header-2 {
      margin-top: -15px;
      font-size: 24px;
    }

    button {
      margin-right: 20px;
      border-radius: 30px;
      width: 120px;
    }

    #button1 {
      background-color: blue;
    }

    #button1:hover {
      background-color: white;
      color: black;
    }

    #button2 {
      background-color: white;
      border-color: black;
      color: black;
    }

    #button2:hover {
      background-color: black;
      color: white;
    }

    #about-me {
      margin-top: 50px;
    }
  }
}

/* Resume Style */

.resume-main-box {
  background-color: #ede7dd;
  height: 100%;

  .resume-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-wrapper {
      padding: 0;
      margin: 70px 0 50px 0;
      .resume-bullet {
        @include bullet;
        margin-bottom: 4px;
        height: 20px;
        width: 20px;
      }
      .resume-name {
        display: inline-block;
        margin-left: 5px;
        font-size: 50px;
        font-weight: bold;
      }
    }
  }

  // education section

  .education-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #education-tag {
      margin-bottom: 40px;
      margin-right: 560px;
      font-weight: bold;
      font-size: 30px;
    }
    .education-box-1 {
      @include resume-box;
      margin-bottom: 80px;
      .left-box {
        padding: 40px 50px 40px 50px;
        text-align: left;
        width: 40%;
        display: inline-block;

        .college-years {
          color: blue;
          font-weight: bold;
          font-size: 20px;
          margin-bottom: 10px;
        }

        .college-name {
          font-weight: bold;
          margin-bottom: 7px;
        }

        .college-degree {
          margin-bottom: 10px;
        }

        .major {
          margin-bottom: 20px;
        }
      }
      .right-box {
        width: 60%;
        display: inline-block;
        padding: 0 25px;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }

  // Skill section

  .skill-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #skill-tag {
      margin-bottom: 40px;
      margin-right: 630px;
      font-weight: bold;
      font-size: 30px;
    }
    .skill-box {
      @include resume-box;
      margin-bottom: 80px;
      padding: 40px 50px 40px 50px;
    }

    .proficiency-tag {
      display: inline-block;
      margin-left: 5px;
      font-weight: 500;
      font-size: 20px;
    }

    .proficiency-bullet {
      @include bullet;
    }

    .proficient {
      margin-bottom: 45px;
    }

    .intermediate {
      margin-bottom: 45px;
    }
  }

  .course-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;

    #course-tag {
      margin-bottom: 40px;
      margin-right: 530px;
      font-weight: bold;
      font-size: 30px;
    }

    .course-list-box {
      background-color: white;
      height: 350px;
      width: 700px;
      overflow: hidden;
      box-shadow: 0 0 15px 3px #b0abaa;
      display: flex;
      flex-wrap: wrap;
      padding: 40px 50px 40px 50px;

      .course-list {
        flex: 0 0 50%;
        position: relative;
        font-size: 20px;
        margin-top: 20px;

        &:before {
          content: "";
          @include bullet;
          margin-right: 10px;
        }
      }
    }
  }

  // Additional Information Section
  .info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #info-tag {
      margin-bottom: 40px;
      margin-right: 390px;
      font-weight: bold;
      font-size: 30px;
    }
    .info-box {
      @include resume-box;
      height: 150px;
      margin-bottom: 80px;
      padding: 40px 50px 40px 50px;
    }

    .info-bullet {
      @include bullet;
    }

    .info-list {
      display: inline-block;
      margin-left: 10px;
      font-size: 20px;
    }
  }
}

/* Projects Style */

.project-main-box {
  background-color: #ede7dd;
  padding-bottom: 100px;
  margin: 0;
  height: 100%;

  // project header style
  .project-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .header-wrapper {
      padding: 0;
      margin: 70px 0 0 0;
      .project-bullet {
        @include bullet;
        margin-bottom: 4px;
        height: 20px;
        width: 20px;
      }
      .project-name {
        display: inline-block;
        margin-bottom: 40px;
        margin-left: 5px;
        font-size: 50px;
        font-weight: bold;
      }
    }
  }

  // ProjectBox Component Style
  .main-container {
    @include project-box;
    margin-top: 80px;

    .proj-description {
      display: inline-block;
      width: 55%;
      position: relative;
      height: 100%;

      .description-header {
        background: blue;
        width: 10px;
        height: 50px;
        position: absolute;
        margin-top: 50px;
        h4 {
          margin-left: 35px;
          font-weight: bold;
          color: blue;
        }
      }

      p {
        position: absolute;
        margin: 130px 30px 0px 30px;
      }

      .stacks {
        position: absolute;
        margin: 220px 30px;
      }
    }

    .img-container {
      width: 45%;
      height: 100%;
      display: inline-block;
      overflow: hidden;
    }
  }
}

/* Footer Style */

.footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
